@import url("https://fonts.googleapis.com/css2?family=Tomorrow:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tektur&display=swap");
@keyframes shrink {
  0% {
    background-size: 120% 120%;
  }
  100% {
    background-size: 100% 100%;
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animationFloatingBg {
  0%, 100% {
    background-position: left top;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }
}
@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
.header {
  background: url("/img/main/bg-header.jpg") fixed;
  height: 100vh;
  max-width: 100%;
  filter: brightness(75%);
  animation: shrink 55s infinite alternate;
  box-shadow: 0px 0px 50px 30px rgb(0, 0, 0) inset;
  position: relative;
  z-index: 105;
}

.header-hr {
  height: 7px;
  box-shadow: 0px -4px 12px 14px #000000;
  background-color: black;
  border: none;
  border-radius: 0;
  height: 10px;
  position: relative;
  z-index: 30;
  border: 0;
  border-radius: 0;
}

.header__menu {
  display: flex;
  gap: 2%;
  justify-content: center;
  padding-top: 2rem;
}
.header__menu-link {
  text-decoration: none;
  padding: 1rem 1rem;
  color: #ffffff;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  transition-duration: all 0.3s;
}
.header__menu-link:hover {
  color: #1bc7f1;
  box-shadow: 0px 0px 12px 3px #1bc7f1;
  translate: 0px 15px;
}
.header__menu-link:active {
  color: #35b397;
  box-shadow: 0px 0px 12px 3px #35b397;
}

.active {
  color: #1bc7f1;
  font-weight: bold;
}
.active:hover {
  color: #ffffff;
}
.active:active {
  color: #35b397;
  box-shadow: 0px 0px 12px 3px #35b397;
}

.burger {
  cursor: pointer;
  position: relative;
  border: none;
  background: transparent;
  width: 60px;
  height: 26px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  top: 20px;
  display: none;
}

.burger::before,
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #ffffff;
  transition-duration: 0.3s;
}

.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #ffffff;
  transition-duration: 0.3s;
}

.burger::after {
  bottom: 0;
}

.header__info {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 75vh;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.text {
  color: #ffffff;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  transition-duration: 0.3s;
  font-weight: bold;
}

.header__info-link {
  text-decoration: none;
}

.header__info-title {
  font-size: 3rem;
  color: #1bc7f1;
  transition-duration: 0.3s;
  display: flex;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.header__info-title:hover {
  box-shadow: 0px 14px 10px -6px #35b397;
  border-radius: 15px;
  cursor: pointer;
}

.header__info-subtitle {
  font-size: 1rem;
  text-shadow: 0px 0px 3px #35b397;
}

.header__info-span {
  text-shadow: 0px 0px 3px #35b397;
}

.header__info h1 {
  margin: 0;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.0117647059);
  background-image: url("/img/main/animation.png");
  background-repeat: repeat;
  -webkit-background-clip: text;
  animation: animationFloatingBg 50s ease-in-out infinite;
  font-weight: 900;
}

.header__button {
  display: flex;
  justify-content: center;
}

.animationBtn {
  animation: text-flicker-in-glow 2s 0.5s linear both;
}

.btn-flip {
  opacity: 1;
  outline: 0;
  color: #35b397;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.btn-flip:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
.btn-flip:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}
.btn-flip:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #1bc7f1;
  display: block;
  transition: 0.5s;
  position: absolute;
  background: transparent;
  content: "LETS GO";
  transform: translateY(-50%) rotateX(90deg);
  border-radius: 25px;
  border: 3px solid #1bc7f1;
  box-shadow: 0px 0px 7px 3px #1bc7f1;
}
.btn-flip:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #35b397;
  display: block;
  padding: 0px 30px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  background: transparent;
  content: "HELLO ME FRIEND";
  transform: translateY(0) rotateX(0);
  border: 3px solid #35b397;
  border-radius: 25px;
}

@media (max-width: 784px) {
  .burger {
    display: flex;
    margin-bottom: 60px;
  }
  .header__info {
    height: 59vh;
  }
  .header__menu {
    display: none;
  }
  .burger:hover .header__menu {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .header__menu .header__menu-link {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
  .header__menu .header__menu-link:hover {
    color: #1bc7f1;
    box-shadow: 0px 0px 12px 3px #1bc7f1;
    translate: 0px 0px;
    transform: scale(1.1);
  }
  .burger:hover::before,
  .burger:hover::after {
    background: #1bc7f1;
    transition-duration: 0.3s;
  }
  .burger:hover::before {
    box-shadow: 0 11px 0 #1bc7f1;
    transition-duration: 0.3s;
  }
}
@media (max-width: 567px) {
  .header {
    height: 100vh;
  }
  .header__info {
    height: 25vh;
  }
  .header__info h1 {
    font-size: 1.4rem;
  }
  .text {
    font-size: 0.8rem;
  }
  .burger {
    margin-bottom: 280px;
  }
  .burger .header__menu .header__menu-link {
    font-size: 1.2rem;
    padding: 1rem;
  }
  .burger .header__menu .header__menu-link:hover {
    color: #1bc7f1;
    box-shadow: 0px 0px 12px 3px #1bc7f1;
    translate: 0px 0px;
    transform: scale(1.1);
  }
}
@keyframes shakeAnimTitle {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  10% {
    transform: rotate(2deg);
  }
  20%, 40%, 60% {
    transform: rotate(-4deg);
  }
  30%, 50%, 70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}
@keyframes outHideTittle {
  0% {
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
.bg-about {
  width: 100%;
  min-height: 600px;
  box-shadow: 0px 0px 20px 120px rgb(0, 0, 0);
  border-radius: 50px;
  padding: 0.5rem;
}

.about {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-title span {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.0117647059);
  background-image: url("/img/main/animation.png");
  background-repeat: repeat;
  -webkit-background-clip: text;
  animation: animationFloatingBg 50s ease-in-out infinite;
  transition-duration: 0.3s;
  margin-bottom: 50px;
  box-shadow: 0px 7px 10px -6px #35b397;
  border-radius: 15px;
  cursor: pointer;
}
.about-title span:hover {
  filter: hue-rotate(45deg);
}

.shakeAnim {
  animation: outHideTittle 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.about__description {
  display: flex;
  gap: 5rem;
  margin-top: 30px;
  align-items: center;
  width: 100%;
}

.about__description-img {
  width: 100%;
  transition-duration: 0.3s;
}
.about__description-img:hover {
  filter: hue-rotate(-45deg);
  transition-duration: 0.3s;
}

hr {
  box-shadow: 0px 0px 10px 0px #35b397;
  height: 9px;
  border-radius: 25px;
}

.description-img {
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px #35b397;
  width: 100%;
}

.about__description-info {
  background-color: rgba(0, 0, 0, 0.5098039216);
  padding: 10px;
  border-radius: 20px;
  box-shadow: -3px -3px 3px 1px #35b397;
}

.info--top {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  letter-spacing: 0.2rem;
  color: #ffffff;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  width: 100%;
}
.info--top-title {
  color: #35b397;
}
.info--top-subtitle {
  color: #35b397;
}
.info--top-message {
  padding-bottom: 1.5rem;
}

.info--bottom {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #ffffff;
  letter-spacing: 0.2rem;
  font-weight: 400;
  font-size: 1rem;
}
.info--bottom-ld {
  display: flex;
  align-items: center;
  gap: 1rem;
  letter-spacing: 0.2rem;
  transition: all 0.3s;
}
.info--bottom-ld span {
  color: #35b397;
  font-weight: bold;
  font-size: 1.2rem;
}
.info--bottom-ld img {
  cursor: pointer;
  transition: all 0.3s;
}
.info--bottom-ld .icon-mail:hover {
  transform: scale(1.2);
}

.mail-link {
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 750px) {
  .about__description-img {
    display: none;
  }
}
@media (max-width: 567px) {
  .about__description-img {
    display: flex;
  }
  .bg-about {
    box-shadow: 0px 0px 20px 50px rgb(0, 0, 0);
  }
  .about-title {
    margin-bottom: 20px;
  }
  .about__description {
    flex-direction: column;
    gap: 2.2rem;
  }
  .description-img {
    width: 50%;
  }
  .about__description-img {
    text-align: center;
  }
  .info--bottom-ld span {
    letter-spacing: 0;
  }
}
@media (max-width: 400px) {
  .about__description {
    gap: 2rem;
  }
  .about-title span {
    font-size: 2.2rem;
    margin-bottom: 20px;
  }
  .info--top {
    gap: 0.5rem;
    font-size: 0.9rem;
  }
  .info--bottom {
    font-size: 0.9rem;
  }
  .info--bottom-ld span {
    font-size: 0.9rem;
  }
  .about__description-info {
    padding: 0px;
    box-shadow: 0px 0px 0px 0px #000000;
  }
}
@media (max-width: 355px) {
  .info--top {
    gap: 0.5rem;
    font-size: 0.7rem;
  }
  .info--bottom {
    font-size: 0.7rem;
  }
}
@keyframes shake-horizontal {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70% {
    transform: translateX(-10px);
  }
  20%, 40%, 60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
@keyframes showText2 {
  100% {
    opacity: 1;
  }
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
@keyframes animateSkill {
  100% {
    transform: scaleX(1);
  }
}
.bg-skills {
  width: 100%;
  min-height: 600px;
  margin-top: 180px;
  box-shadow: 0px 0px 20px 120px rgb(0, 0, 0);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  padding: 0.5rem;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.warpper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.warpper .tab {
  cursor: pointer;
  padding: 10px 10px;
  display: flex;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 0px 9px 0px #35b397;
  transition: all 0.5s ease-in;
  align-items: center;
}
.warpper .tab:hover {
  background: #35b397;
  color: #000;
  animation: shake-horizontal 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.warpper .panels {
  box-shadow: 0px 0px 12px 2px #35b397 inset;
  width: 100%;
  border-radius: 10rem;
  overflow: hidden;
  padding: 2rem;
  color: #ffffff;
}
.warpper .panels .panel {
  display: none;
  animation: fadein 0.8s;
}
.warpper .panels .panel .panel-text {
  color: #000000;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.radio {
  display: none;
}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel {
  transition-duration: 0.3s;
  display: flex;
  border-radius: 25px;
}

#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab {
  transform: scale(1.2);
}

.skill-bars-one {
  padding: 25px 25px;
  display: flex;
  flex-direction: column;
  width: 48%;
  gap: 15px;
  background-color: rgba(0, 0, 0, 0.5098039216);
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
}

.two {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
}

.info {
  margin-bottom: 5px;
}

.bar {
  cursor: pointer;
}
.bar:hover {
  filter: hue-rotate(45deg);
  color: #1bc7f1;
}

.info span {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}

.progress-line {
  height: 20px;
  width: 100%;
  background: #000000;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 15px;
  cursor: pointer;
  transition-duration: 0.3s;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.animationPanel {
  animation: animateSkill 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #35b397;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.progress-line span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  opacity: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-top-color: #000;
  animation: showText2 0.5s 1.5s linear forwards;
}

.progress-line span::after {
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #1bc7f1;
  color: #000000;
  opacity: 0;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 10px;
  animation: showText2 0.5s 1.5s linear forwards;
}

.html span {
  width: 74%;
}

.css span {
  width: 82%;
}

.JavaScript span {
  width: 50%;
}

.react span {
  width: 25%;
}

.bootstrap span {
  width: 30%;
}

.wordpress span {
  width: 35%;
}

.html span::after {
  content: "74%";
}

.css span::after {
  content: "82%";
}

.JavaScript span::after {
  content: "50%";
}

.react span::after {
  content: "25%";
}

.bootstrap span::after {
  content: "30%";
}

.wordpress span::after {
  content: "35%";
}

.other_skill span::after {
  content: "50%";
}

.other_skill span {
  width: 50%;
}

.git span {
  width: 50%;
}

.npm span {
  width: 35%;
}

.webpack span {
  width: 25%;
}

.axios span {
  width: 25%;
}

.swipers span {
  width: 30%;
}

.animation span {
  width: 44%;
}

.git span::after {
  content: "50%";
}

.npm span::after {
  content: "35%";
}

.webpack span::after {
  content: "25%";
}

.axios span::after {
  content: "25%";
}

.swipers span::after {
  content: "48%";
}

.animation span::after {
  content: "44%";
}

@media (max-width: 750px) {
  .progress-line span::before {
    display: none;
  }
  .progress-line span::after {
    top: 2px;
  }
}
@media (max-width: 585px) {
  .tabs {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    flex-direction: column;
    row-gap: 1.5rem;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .warpper .tab {
    justify-content: center;
  }
  .warpper .panels {
    width: 95%;
    padding: 0;
    margin-bottom: 2rem;
    border-radius: 2rem;
  }
  .progress-line span::after {
    top: 2px;
  }
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skill-bars-one {
    width: 100%;
    padding: 10px 25px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .two {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
@media (max-width: 567px) {
  .bg-skills {
    margin-top: 95px;
    box-shadow: 0px 0px 20px 40px rgb(0, 0, 0);
  }
}
.bg-project {
  width: 100%;
  min-height: 600px;
  margin-top: 180px;
  box-shadow: 0px 0px 20px 120px rgb(0, 0, 0);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  padding: 0.5rem;
}

.project {
  text-align: center;
  padding-top: 30px;
}

.project-title span {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.0117647059);
  background-image: url("/img/main/animation.png");
  background-repeat: repeat;
  -webkit-background-clip: text;
  animation: animationFloatingBg 50s ease-in-out infinite;
  transition-duration: 0.3s;
  margin-bottom: 40px;
  box-shadow: 0px 7px 10px -6px #35b397;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
}
.project-title span:hover {
  filter: hue-rotate(45deg);
}

.project__cards {
  display: flex;
  gap: 20px;
}
.project__cards .display {
  display: contents;
}

.card__info {
  width: 30%;
  position: absolute;
  right: 20px;
  top: 12px;
  padding: 7px;
  margin-right: 23px;
  background-color: rgba(0, 0, 0, 0.5098039216);
  border-radius: 20px;
  box-shadow: -3px -3px 3px 1px #35b397;
}

.card__info-description {
  color: white;
  text-align: center;
  margin-bottom: 5px;
}

.card__info-text {
  margin-top: 10px;
  color: #35b397;
  border-bottom: 1px solid #35b397;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px #35b397;
  padding: 0.3rem;
}

.card__info-block {
  display: flex;
  justify-content: center;
}

.card__info-list {
  color: #35b397;
  margin-top: 10px;
  margin-left: 20px;
}
.card__info-list li {
  margin-top: 5px;
}

.card {
  position: relative;
  height: 320px;
  width: 700px;
  transition: ease all 1.5s;
  perspective: 1200px;
  cursor: pointer;
  margin-left: 10px;
}
.card:hover .cover {
  transform: rotateX(0deg) rotateY(-180deg);
}
.card .cover {
  position: absolute;
  height: 100%;
  width: 60%;
  transform-style: preserve-3d;
  transition: ease all 1.5s;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 25px;
  border: 1px solid #35b397;
  box-shadow: 0px 0px 15px 10px #35b397 inset;
}
.card .cover:before {
  content: "";
  position: absolute;
  border: 5px solid #35b397;
  box-shadow: 0 0 12px #35b397;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  border-radius: 25px;
}
.card .cover:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  transition: ease all 1.3s;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
}
.card .cover.item-a {
  background-image: url("/img/content/project/one.png");
  background-position: center center;
}
.card .cover.item-b {
  background-image: url("/img/content/project/two.png");
  background-position: center center;
}
.card .cover.item-c {
  background-image: url("/img/content/project/three.png");
  background-position: center center;
}
.card .cover.item-d {
  background-image: url("/img/content/project/fo.png");
  background-position: center center;
}
.card .cover h6 {
  font-weight: bold;
  position: absolute;
  bottom: 10%;
  left: 50%;
  color: #1bc7f1;
  z-index: 3;
  font-size: 1.1rem;
  transform: translate(-50%, -5%);
}
.card .cover .price {
  font-weight: bold;
  position: absolute;
  top: 35px;
  right: 35px;
  z-index: 4;
  font-size: 1rem;
  color: #1bc7f1;
}
.card .card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("/img/main/logo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: ease all 1.5s;
  transform: translateZ(-1px);
  display: flex;
  border: 1px solid #35b397;
  box-shadow: 0px 0px 25px 15px #35b397 inset;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.card .card-back:hover {
  border: 1px solid #1bc7f1;
  box-shadow: 0px 0px 25px 15px #1bc7f1 inset;
}
.card .card-back a {
  background: transparent;
  font-weight: 200;
  font-size: 1.3em;
  color: #35b397;
  padding: 1rem 2rem;
  outline: none;
  text-decoration: none;
  transition-duration: 0.5s;
  transform: translateZ(-1px) rotateY(-180deg);
}
.card .card-back a:hover {
  box-shadow: 0px 0px 3px 1px red;
  border-radius: 25px;
  color: #f80202;
}

.swiperProject {
  display: flex;
  max-width: 800px;
  width: 100%;
  height: 45vh;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 5px #35b397 inset;
  background-color: rgba(0, 0, 0, 0.5098039216);
}

.swiper-wrapper {
  box-sizing: content-box;
}

.swiper-slide {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.swiper-slide img {
  max-width: 100%;
}

.swiper-backface-hidden .swiper-slide {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.swiper-pagination-bullet {
  background-color: #35b397;
}

.swiper-pagination-bullet-active {
  background-color: #1bc7f1;
}

@media (max-width: 585px) {
  .bg-project {
    box-shadow: 0px 0px 20px 50px rgb(0, 0, 0);
    margin-top: 95px;
  }
  .swiper-backface-hidden .swiper-slide {
    margin-left: 0;
    margin-right: 0;
  }
  .swiper-slide .project__cards .swiper-slide-active {
    margin-right: 0px;
  }
  .card__info {
    width: 90%;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    margin-right: 0px;
    padding: 5px;
  }
  .card {
    margin-left: 0px;
  }
  .card__info-list {
    text-align: center;
    margin-left: 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card__info-list li {
    list-style-type: none;
    border-bottom: 1px solid #35b397;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px #35b397;
    padding: 0.1rem;
  }
  .card .cover {
    height: 60%;
    width: 90%;
    bottom: -10px;
    right: 5%;
  }
}
@media (max-width: 490px) {
  .project-title span {
    font-size: 2.2rem;
  }
  .card .cover h6 {
    font-size: 0.9rem;
    bottom: 15%;
  }
  .card .cover .price {
    font-size: 0.8rem;
  }
  .card .card-back a {
    padding: 1rem 0.5rem;
  }
}
.bg-hobby {
  width: 100%;
  min-height: 600px;
  margin-top: 180px;
  box-shadow: 0px 0px 20px 120px rgb(0, 0, 0);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.hobby {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hobby-title span {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.0117647059);
  background-image: url("/img/main/animation.png");
  background-repeat: repeat;
  -webkit-background-clip: text;
  animation: animationFloatingBg 50s ease-in-out infinite;
  transition-duration: 0.3s;
  margin-bottom: 10px;
  box-shadow: 0px 7px 10px -6px #35b397;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
}
.hobby-title span:hover {
  filter: hue-rotate(45deg);
}

.hobby__info {
  color: #ffffff;
  text-shadow: 0px 0px 5px #35b397;
  margin-left: 1rem;
}

.hobby__info-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.hobby__info-subtitle {
  font-size: 1rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5098039216);
  padding: 10px;
  border-radius: 20px;
  box-shadow: -3px -3px 3px 1px #35b397;
}

.swiper-box {
  display: flex;
  align-items: center;
}

.sliderHobby {
  display: flex;
  max-width: 800px;
  width: 70%;
  height: 40vh;
  margin-top: 3rem;
  box-shadow: 0px 0px 0px 0px #35b397 inset;
}

.swiper-slide {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 50px;
  position: relative;
  cursor: grab;
  transition-duration: 0.3s;
}
.swiper-slide img:hover {
  box-shadow: 0px 0px 10px 5px #35b397;
}
.swiper-slide img:active {
  cursor: grabbing;
}

.swiper-button-prev {
  color: #35b397;
}
.swiper-button-prev:hover {
  transform: scale(1.1);
  color: #1bc7f1;
}

.swiper-button-next {
  color: #35b397;
  font-size: 1rem;
}
.swiper-button-next:hover {
  transform: scale(1.1);
  color: #1bc7f1;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 2rem;
}

.swiper-pagination-bullet {
  background-color: #35b397;
}

.swiper-pagination-bullet-active {
  background-color: #1bc7f1;
}

@media (max-width: 750px) {
  .sliderHobby {
    width: 100%;
    margin-top: 0rem;
    height: 30vh;
  }
  .swiper-box {
    flex-direction: column;
  }
}
@media (max-width: 567px) {
  .bg-hobby {
    box-shadow: 0px 0px 20px 40px rgb(0, 0, 0);
    margin-top: 95px;
  }
  .sliderHobby {
    width: 100%;
    height: 30vh;
  }
  .swiper-button-next {
    display: none;
  }
  .swiper-button-prev {
    display: none;
  }
}
@media (max-width: 400px) {
  .hobby-title span {
    font-size: 2.2rem;
  }
  .sliderHobby {
    width: 100%;
    height: 20vh;
  }
  .hobby__info-title {
    margin-top: 30px;
    font-size: 1.2rem;
  }
  .hobby__info {
    margin-left: 0px;
  }
  .hobby__info-subtitle {
    font-size: 0.9rem;
  }
  .info--bottom-ld img {
    width: 24px;
  }
  .info--bottom-ld span {
    letter-spacing: 0;
  }
}
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes myAnimationFooterIcon-1 {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }
  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }
  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }
  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }
  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }
  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}
@keyframes myAnimationFooterIcon-2 {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }
  18% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }
  35% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }
  52% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
  61% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }
  80% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
  85% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }
  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}
@keyframes myAnimationFooterIcon-3 {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }
  28% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }
  45% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }
  62% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
  71% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }
  80% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
  83% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }
  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}
.bg-footer {
  width: 100%;
  min-height: 200px;
  background-color: #000000;
  box-shadow: 0px 0px 20px 50px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
}
.contact img {
  transition-duration: 0.3s;
  border: 1px solid #35b397;
  border-radius: 50%;
  filter: opacity(0.5);
}
.contact img:hover {
  transform: scale(1.2);
  border: 1px solid #35b397;
  border-radius: 50%;
  box-shadow: 0px 0px 12px 5px #35b397;
  filter: opacity(1);
}

.footer-hr {
  height: 10px;
  position: relative;
  z-index: 20;
  margin: 120px 0px 35px 0px;
  border: 0;
  border-radius: 0;
}

.contact__box {
  display: flex;
  gap: 100px;
}

.reserved {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.0117647059);
  background-image: url("/img/main/animation.png");
  background-repeat: repeat;
  -webkit-background-clip: text;
  animation: animationFloatingBg 50s ease-in-out infinite;
  transition-duration: 0.3s;
  margin-bottom: 80px;
  box-shadow: 0px 5px 10px -6px #35b397;
  border-radius: 15px;
  display: inline-block;
}
.reserved:hover {
  filter: hue-rotate(45deg);
}

.social__box-anim {
  animation: jello-horizontal 1.2s 3s both;
}

.animationIcons-1 {
  animation: myAnimationFooterIcon-1 3s linear 0s 1 alternate none;
}

.animationIcons-2 {
  animation: myAnimationFooterIcon-2 3s linear 0s 1 alternate none;
}

.animationIcons-3 {
  animation: myAnimationFooterIcon-3 3s linear 0s 1 alternate none;
}

@media (max-width: 990px) {
  .contact__box {
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
  }
  .reserved {
    text-align: center;
  }
}
.menu__toggle {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 101;
  left: 50%;
  top: 95%;
  transform: translate(-50%, -50%);
}

.menu__toggle .menu__toggle-content {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-45deg);
}

.menu__toggle-content .toggle-btn,
.menu__toggle-content span a {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s;
}
.menu__toggle-content .toggle-btn:hover,
.menu__toggle-content span a:hover {
  box-shadow: 0px 0px 12px 7px #1bc7f1;
}

.menu__toggle-content .toggle-btn {
  font-size: 35px;
  color: #1bc7f1;
  z-index: 100;
  cursor: pointer;
  transform: rotate(-225deg);
  transition: all 0.6s ease;
}

.menu__toggle-content .toggle-btn img {
  opacity: 0.5;
  box-shadow: 0px 0px 12px 5px #35b397;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.menu__toggle.open .toggle-btn {
  transform: rotate(120deg);
}

.menu__toggle-content span {
  position: absolute;
  transition: all 0.6s ease;
  opacity: 0;
}

.menu__toggle.open .menu__toggle-content span {
  transform: rotate(calc(var(--i) * -45deg)) translateY(120px);
  opacity: 1;
}

.menu__toggle-content span a {
  text-decoration: none;
  transform: rotate(-45deg);
  animation: myAnimPulse 1s ease 0s infinite normal forwards;
}

.menu__toggle-content span a i {
  font-size: 40px;
  color: #35b397;
  opacity: 0.5;
  transition: all 0.2s;
}

.menu__toggle-content span a:hover i {
  opacity: 1;
  color: #1bc7f1;
  animation: jello-horizontal 1s both;
}

.bx-plus:before {
  box-shadow: 0px 0px 5px 1px #35b397;
  border-radius: 50px;
}

.bx-plus:before:hover {
  box-shadow: 0px 0px 5px 1px #1bc7f1;
}

.tgdBtn {
  animation: myAnimPulse 1s ease 0s infinite normal forwards;
}

@keyframes line-animation {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(10px);
  }
  40% {
    transform: translateY(-25px);
  }
  60% {
    transform: translateY(-25px);
  }
  85% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes click-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.night-btn {
  position: absolute;
  left: 50%;
  top: 550px;
  transform: translate(-50%, -50%);
  z-index: 3000;
}

.power-switch {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 150px;
}
.power-switch .button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.power-switch .button:after {
  content: "";
  width: 100%;
  height: 60%;
  position: absolute;
  background: radial-gradient(circle closest-side, #2e5dc7, transparent);
  filter: blur(10px);
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
  transform: perspective(1px) translateZ(0);
  backface-visibility: hidden;
}
.power-switch .button .power-on,
.power-switch .button .power-off {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  fill: none;
  stroke: #35b397;
  stroke-width: 8px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.power-switch .button .power-on .line,
.power-switch .button .power-off .line {
  opacity: 0.2;
}
.power-switch .button .power-on .circle,
.power-switch .button .power-off .circle {
  opacity: 0.2;
  transform: rotate(-57deg);
  transform-origin: center 80px;
  stroke-dasharray: 220;
  stroke-dashoffset: 40;
}
.power-switch .button .power-on {
  filter: drop-shadow(0px 0px 6px #1bc7f1);
}
.power-switch .button .power-on .line {
  opacity: 0.5;
  transition: opacity 0.3s ease 1s;
}
.power-switch .button .power-on .circle {
  opacity: 1;
  stroke-dashoffset: 220;
  transition: transform 0s ease, stroke-dashoffset 1s ease 0s;
}
.power-switch input {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
}
.power-switch input:checked + .button:after {
  opacity: 1;
  transform: scale(2) perspective(1px) translateZ(0);
  backface-visibility: hidden;
  transition: opacity 0.5s ease, transform 0.5s ease;
  filter: opacity(1);
}
.power-switch input:checked + .button .power-on,
.power-switch input:checked + .button .power-off {
  animation: click-animation 0.3s ease forwards;
  transform: scale(1);
}
.power-switch input:checked + .button .power-on .line,
.power-switch input:checked + .button .power-off .line {
  animation: line-animation 0.8s ease-in forwards;
}
.power-switch input:checked + .button .power-on .circle,
.power-switch input:checked + .button .power-off .circle {
  transform: rotate(302deg);
}
.power-switch input:checked + .button .power-on .line {
  opacity: 1;
  transition: opacity 0.05s ease-in 0.55s;
}
.power-switch input:checked + .button .power-on .circle {
  transform: rotate(302deg);
  stroke-dashoffset: 40;
  transition: transform 0.4s ease 0.2s, stroke-dashoffset 0.4s ease 0.2s;
}

.night-mode {
  filter: grayscale(1);
}

.power-switch-toggle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 156px;
}
.power-switch-toggle .button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.power-switch-toggle .button:after {
  content: "";
  width: 100%;
  height: 60%;
  position: absolute;
  background: radial-gradient(circle closest-side, #2e5dc7, transparent);
  filter: blur(10px);
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
  transform: perspective(1px) translateZ(0);
  backface-visibility: hidden;
}
.power-switch-toggle .button .power-on,
.power-switch-toggle .button .power-off {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  fill: none;
  stroke: #35b397;
  stroke-width: 8px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.power-switch-toggle .button .power-on .line,
.power-switch-toggle .button .power-off .line {
  opacity: 0.2;
}
.power-switch-toggle .button .power-on .circle,
.power-switch-toggle .button .power-off .circle {
  opacity: 0.2;
  transform: rotate(-57deg);
  transform-origin: center 80px;
  stroke-dasharray: 220;
  stroke-dashoffset: 40;
}
.power-switch-toggle .button .power-on {
  filter: drop-shadow(0px 0px 6px #1bc7f1);
}
.power-switch-toggle .button .power-on .line {
  opacity: 0.5;
  transition: opacity 0.3s ease 1s;
}
.power-switch-toggle .button .power-on .circle {
  opacity: 1;
  stroke-dashoffset: 220;
  transition: transform 0s ease, stroke-dashoffset 1s ease 0s;
}
.power-switch-toggle input {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
}
.power-switch-toggle input:checked + .button:after {
  opacity: 1;
  transform: scale(2) perspective(1px) translateZ(0);
  backface-visibility: hidden;
  transition: opacity 0.5s ease, transform 0.5s ease;
  filter: opacity(1);
}
.power-switch-toggle input:checked + .button .power-on,
.power-switch-toggle input:checked + .button .power-off {
  animation: click-animation 0.3s ease forwards;
  transform: scale(1);
}
.power-switch-toggle input:checked + .button .power-on .line,
.power-switch-toggle input:checked + .button .power-off .line {
  animation: line-animation 0.8s ease-in forwards;
}
.power-switch-toggle input:checked + .button .power-on .circle,
.power-switch-toggle input:checked + .button .power-off .circle {
  transform: rotate(302deg);
}
.power-switch-toggle input:checked + .button .power-on .line {
  opacity: 1;
  transition: opacity 0.05s ease-in 0.55s;
}
.power-switch-toggle input:checked + .button .power-on .circle {
  transform: rotate(302deg);
  stroke-dashoffset: 40;
  transition: transform 0.4s ease 0.2s, stroke-dashoffset 0.4s ease 0.2s;
}

.night-btn-toggle {
  left: 0;
  right: 0;
}

@media (max-width: 567px) {
  .night-btn {
    top: 725px;
  }
}
@keyframes rotate_scale {
  0% {
    transform: scale(0) rotate(0) translate(25%, -50%);
    opacity: 1;
  }
  100% {
    transform: scale(6) rotate(250deg) translate(-50%, -50%);
    opacity: 0;
  }
}
@keyframes letter-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }
  87% {
    opacity: 1;
  }
}
@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  8% {
    opacity: 0.1;
  }
  9% {
    opacity: 1;
  }
  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }
  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}
@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }
  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
.full__screen-squere {
  height: 100vh;
  width: 100%;
  position: relative;
  background: #000;
  overflow: hidden;
  z-index: 1000;
}
.full__screen-squere .squere-box {
  position: absolute;
  bottom: 20%;
  left: 10%;
  z-index: 5;
  width: 25px;
  height: 25px;
  box-shadow: 0px 0px 5px 1px #fafafa, 0px 0px 5px 1px #fafafa inset;
  border-radius: 50px;
  transform: scale(0) rotate(0) translate(-50%, -50%);
  animation: rotate_scale 11s ease-in-out forwards infinite;
  -webkit-animation: rotate_scale 10s ease-in-out forwards infinite;
}
.full__screen-squere .squere-box:nth-child(2) {
  border-color: #1bc7f1;
  animation-delay: 2s;
  left: 50%;
  bottom: 30%;
  width: 55px;
  height: 55px;
  box-shadow: 0px 0px 5px 1px #0be8f0, 0px 0px 5px 1px #0be8f0 inset;
  border-radius: 50px;
}
.full__screen-squere .squere-box:nth-child(3) {
  border-color: #65cae4;
  animation-delay: 4s;
  left: 50%;
  top: 5%;
  width: 85px;
  height: 85px;
  box-shadow: 0px 0px 2px 1px #16bda1, 0px 0px 2px 1px #16bda1 inset;
  border-radius: 50px;
}
.full__screen-squere .squere-box:nth-child(4) {
  border-color: #066875;
  animation-delay: 6s;
  right: 10%;
  top: 20%;
  width: 75px;
  height: 75px;
  box-shadow: 0px 0px 2px 1px #d6f139, 0px 0px 2px 1px #d6f139 inset;
  border-radius: 50px;
}
.full__screen-squere .squere-box:nth-child(5) {
  border-color: #08f5ba;
  animation-delay: 5s;
  top: 10%;
  left: 65%;
  width: 15px;
  height: 15px;
  box-shadow: 0px 0px 2px 1px #3b11f7, 0px 0px 2px 1px #3b11f7 inset;
  border-radius: 50px;
}
.full__screen-squere .squere-box:nth-child(6) {
  animation-delay: 9s;
  top: 50%;
  left: 50%;
  width: 65px;
  height: 65px;
  box-shadow: 0px 0px 2px 1px #f34216, 0px 0px 2px 1px #f34216 inset;
  border-radius: 50px;
}
.full__screen-squere .squere-box:nth-child(7) {
  animation-delay: 9s;
  top: 10%;
  left: 80%;
  width: 20px;
  height: 20px;
  box-shadow: 0px 0px 2px 1px #7f7df1, 0px 0px 2px 1px #7f7df1 inset;
  border-radius: 50px;
}
.full__screen-squere .squere-box:nth-child(8) {
  animation-delay: 11s;
  top: 60%;
  left: 75%;
  width: 37px;
  height: 37px;
  box-shadow: 0px 0px 2px 1px #81f316, 0px 0px 2px 1px #81f316 inset;
  border-radius: 50px;
}
.full__screen-squere .squere-box:nth-child(69) {
  animation-delay: 11s;
  top: 30%;
  right: 40%;
  width: 7px;
  height: 7px;
  box-shadow: 0px 0px 2px 1px #09f8e4, 0px 0px 2px 1px #09f8e4 inset;
  border-radius: 50px;
}

.full__screen-btn {
  position: absolute;
  color: hsl(186, 100%, 69%);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid hsl(186, 100%, 69%);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Tomorrow", sans-serif;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 2rem;
  z-index: 10000;
  left: 50%;
  top: 42%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0px 0px 0.5em 0px hsl(186, 100%, 69%), 0px 0px 0.5em 0px hsl(186, 100%, 69%);
  animation: border-flicker 2s linear infinite;
}
.full__screen-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: hsl(186, 100%, 69%);
  pointer-events: none;
}
.full__screen-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: hsl(186, 100%, 69%);
  box-shadow: 0 0 2em 0.2em hsl(186, 100%, 69%);
  transition: opacity 100ms linear;
}

.full__screen-txt {
  float: left;
  margin-right: -0.8em;
  text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.3), 0 0 0.45em hsl(186, 100%, 69%);
  animation: text-flicker 3s linear infinite;
}

.full__screen-letter {
  opacity: 0.5;
  animation: letter-flicker 2s linear infinite;
}

.full__screen-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}
.full__screen-btn:hover .full__screen-txt {
  animation: none;
}
.full__screen-btn:hover .full__screen-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}
.full__screen-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}
.full__screen-btn:hover:after {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .full__screen-btn {
    font-size: 1em;
  }
}
@keyframes myAnimPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

html,
body {
  font-size: 16px;
  width: 100%;
  font-family: "Tektur", sans-serif;
}

.container {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}

.main {
  background: url("/img/main/bg-main.jpg") fixed;
  background-size: cover;
  height: 100%;
  padding-top: 150px;
  animation: animationFloatingBg 25s ease-in-out infinite;
}

.inset {
  box-shadow: 0px 0px 17px 7px rgb(0, 0, 0) inset;
  flex-grow: 1;
  border-radius: 50px;
}

.audio-btn {
  background: url(/img/audio-icons/play.png) no-repeat;
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: 92%;
  left: 2%;
  position: fixed;
  z-index: 50;
  filter: opacity(0.7);
  border-radius: 50%;
  animation: myAnimPulse 1s ease 0s infinite normal forwards;
  opacity: 0.5;
  transition: all 0.2s;
}
.audio-btn:hover {
  box-shadow: 0px 0px 12px 5px #1bc7f1;
  opacity: 1;
}

.home-link img {
  position: absolute;
  top: 92%;
  right: 2%;
  position: fixed;
  animation: myAnimPulse 1s ease 0s infinite normal forwards;
  border-radius: 50%;
  opacity: 0.5;
  z-index: 50;
  transition: all 0.2s;
}
.home-link img:hover {
  box-shadow: 0px 0px 12px 5px #1bc7f1;
  opacity: 1;
}

.bubbly-button {
  transition: all ease-in 0.1s, box-shadow ease-in 0.25s;
}
.bubbly-button:active {
  transform: scale(0.9);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500000;
}

.displayNoneAll {
  display: none;
}

.displayBlockAll {
  display: block;
}

@media (max-width: 567px) {
  .main {
    padding-top: 70px;
  }
}