.header {
  background: url("/img/raznoe/bg2.jpg") fixed;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(75%);
  animation: shrink 15s infinite alternate;
}

@keyframes shrink {
  0% {
    background-size: 120% 120%;
  }
  100% {
    background-size: 100% 100%;
  }
}
.header__menu {
  display: flex;
  gap: 2%;
  justify-content: center;
  padding-top: 2rem;
}
.header__menu-link {
  text-decoration: none;
  padding: 1rem 1rem;
  color: #ffffff;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  transition-duration: 0.3s;
}
.header__menu-link:hover {
  color: #1bc7f1;
  box-shadow: 0px 0px 12px 3px #1bc7f1;
  translate: 0px 15px;
}

.active {
  color: #1bc7f1;
  font-weight: bold;
}
.active:hover {
  color: #ffffff;
}

.burger {
  cursor: pointer;
  position: relative;
  border: none;
  background: transparent;
  width: 60px;
  height: 26px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  top: 20px;
  display: none;
}

.burger::before,
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #ffffff;
  transition-duration: 0.3s;
}

.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #ffffff;
  transition-duration: 0.3s;
}

.burger::after {
  bottom: 0;
}

.header__info {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  gap: 2rem;
}

.text {
  color: #ffffff;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  transition-duration: 0.3s;
  font-weight: bold;
}

.header__info-title {
  font-size: 3rem;
  color: #1bc7f1;
  transition-duration: 0.3s;
}
.header__info-title:hover {
  box-shadow: 0px 14px 10px -6px #35b397;
  border-radius: 15px;
  cursor: pointer;
}

.header__info-subtitle {
  font-size: 1rem;
  text-shadow: 0px 0px 3px #35b397;
}

.header__info-span {
  text-shadow: 0px 0px 3px #35b397;
}

.header__info h1 {
  margin: 0;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.0117647059);
  background-image: url("/img/raznoe//animation.png");
  background-repeat: repeat;
  -webkit-background-clip: text;
  animation: animate 15s ease-in-out infinite;
  font-weight: 900;
}

@keyframes animate {
  0%, 100% {
    background-position: left top;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }
}
.header__button {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 1rem 3.5rem;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 55px;
  transition-duration: 0.3s;
}
.btn:hover {
  color: #1bc7f1;
  border-color: #1bc7f1;
  transform: scale(1.2);
}

@media (max-width: 777px) {
  .burger {
    display: flex;
  }
  .header__menu {
    display: none;
  }
  .burger:hover .header__menu {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .header__menu .header__menu-link:hover {
    color: #1bc7f1;
    box-shadow: 0px 0px 12px 3px #1bc7f1;
    translate: 0px 0px;
    transform: scale(1.1);
  }
  .burger:hover::before,
  .burger:hover::after {
    background: #1bc7f1;
    transition-duration: 0.3s;
  }
  .burger:hover::before {
    box-shadow: 0 11px 0 #1bc7f1;
    transition-duration: 0.3s;
  }
}
.bg-scetion {
  width: 100%;
  min-height: 500px;
  background-color: #000000;
  width: 100%;
}

.about {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-title {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.0117647059);
  background-image: url("/img/raznoe//animation.png");
  background-repeat: repeat;
  -webkit-background-clip: text;
  animation: animate 50s ease-in-out infinite;
  transition-duration: 0.3s;
  margin-bottom: 50px;
  box-shadow: 0px 14px 10px -6px #35b397;
  border-radius: 15px;
}
.about-title:hover {
  box-shadow: 0px 14px 10px -6px #35b397;
  border-radius: 15px;
  cursor: pointer;
}

.about__description {
  display: flex;
  gap: 5rem;
  margin-top: 30px;
  align-items: center;
  width: 100%;
}

.about__description-img {
  width: 100%;
}

hr {
  box-shadow: 0px 0px 10px 0px #35b397;
  height: 9px;
  border-radius: 25px;
}

.description-img {
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px #35b397;
  width: 100%;
}

.info--top {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  letter-spacing: 0.2rem;
  color: #ffffff;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  width: 100%;
}
.info--top-title {
  color: #35b397;
}
.info--top-subtitle {
  color: #35b397;
}
.info--top-message {
  padding-bottom: 1.5rem;
}

.info--bottom {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #ffffff;
  letter-spacing: 0.2rem;
  font-weight: 400;
  font-size: 1rem;
}
.info--bottom-ld {
  display: flex;
  align-items: center;
  gap: 1rem;
  letter-spacing: 0.2rem;
}
.info--bottom-ld span {
  color: #35b397;
}

.bg-scetionSecond {
  width: 100%;
  min-height: 500px;
  background-color: #050505;
  width: 100vw;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  padding-bottom: 20px;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 120px;
}

.warpper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.warpper .tab {
  cursor: pointer;
  padding: 10px 10px;
  display: flex;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 0px 9px 0px #35b397;
  transition: all 0.3s ease-in;
  align-items: center;
}
.warpper .tab:hover {
  background: #35b397;
  transition: all 0.2s ease-in;
  color: #000;
}
.warpper .panels {
  background: linear-gradient(0deg, #000000 -21%, #1bc7f1 100%);
  box-shadow: 0px 0px 12px 2px #35b397;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  padding: 2rem;
}
.warpper .panels .panel {
  display: none;
  animation: fadein 0.8s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.radio {
  display: none;
}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel {
  display: block;
  transition-duration: 0.3s;
}

#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab {
  color: #35b397;
  transform: scale(1.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  height: 100%;
  width: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}