@import './animation/anim-fullScreen';
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@700&display=swap');

//! Квадраты летающие на начальной странице
.full__screen-squere {
	height: 100vh;
	width: 100%;
	position: relative;
	background: #000;
	overflow: hidden;
	z-index: 1000;

	.squere-box {
		position: absolute;
		bottom: 20%;
		left: 10%;
		z-index: 5;
		width: 25px;
		height: 25px;
		border: 2px solid #35b397;
		transform: scale(0) rotate(0) translate(-50%, -50%);
		animation: rotate_scale 11s ease-in-out forwards infinite;
		-webkit-animation: rotate_scale 10s ease-in-out forwards infinite;

		&:nth-child(2) {
			border-color: #1bc7f1;
			animation-delay: 2s;
			left: 50%;
			bottom: 30%;
		}

		&:nth-child(3) {
			border-color: #65cae4;
			animation-delay: 4s;
			left: 50%;
			top: 5%;
		}

		&:nth-child(4) {
			border-color: #066875;
			animation-delay: 6s;
			right: 10%;
			top: 20%;
		}

		&:nth-child(5) {
			border-color: #08f5ba;
			animation-delay: 8s;
			top: 50%;
			left: 85%;
		}

		&:nth-child(6) {
			animation-delay: 9s;
			top: 50%;
			left: 50%;
		}
	}
}

// !Кнопка на начальной странцие START

$color-btn: hsl(186 100% 69%);

.full__screen-btn {
	position: absolute;
	color: $color-btn;
	cursor: pointer;
	padding: 0.35em 1em;
	border: 0.15em solid $color-btn;
	border-radius: 0.45em;
	background: none;
	perspective: 2em;
	font-family: 'Tomorrow', sans-serif;
	font-size: 2em;
	font-weight: bold;
	letter-spacing: 1em;
	z-index: 10000;
	left: 50%;
	top: 8%;
	transform: translate(-50%, -50%);
	box-shadow: inset 0px 0px 0.5em 0px $color-btn,
		0px 0px 0.5em 0px $color-btn;

	animation: border-flicker 2s linear infinite;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0.7;
		filter: blur(1em);
		transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
		background: $color-btn;
		pointer-events: none;
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		z-index: -1;
		background-color: $color-btn;
		box-shadow: 0 0 2em 0.2em $color-btn;
		transition: opacity 100ms linear;
	}
}

.full__screen-txt {
	float: left;
	margin-right: -0.8em;
	text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em $color-btn;
	animation: text-flicker 3s linear infinite;
}

.full__screen-letter {
	opacity: 0.5;
	animation: letter-flicker 2s linear infinite;
}

.full__screen-btn:hover {
	color: rgba(0, 0, 0, 0.8);
	text-shadow: none;
	animation: none;

	.full__screen-txt {
		animation: none;
	}

	.full__screen-letter {
		animation: none;
		text-shadow: none;
		opacity: 1;
	}

	&:before {
		filter: blur(1.5em);
		opacity: 1;
	}

	&:after {
		opacity: 1;
	}
}



// !MEDIA
@media only screen and (max-width: 600px) {
	.full__screen-btn {
		font-size: 1em;
	}
}