@import './animation/anim-header';


.header {
	background: url('/img/main/bg-header.jpg') fixed;
	height: 100vh;
	max-width: 100%;
	filter: brightness(75%);
	animation: shrink 15s infinite alternate;
	box-shadow: 0px 0px 50px 30px rgba(0, 0, 0) inset;
	// overflow: hidden;
}

.header-hr {
	height: 7px;
	box-shadow: 0px -4px 12px 14px #000000;
	background-color: black;
	border: none;
	border-radius: 0;
	height: 10px;
	position: relative;
	z-index: 30;
	border: 0;
	border-radius: 0;
}



// !MENU
.header__menu {
	display: flex;
	gap: 2%;
	justify-content: center;
	padding-top: 2rem;

	&-link {
		text-decoration: none;
		padding: 1rem 1rem;
		color: #ffffff;
		font-size: 1.2rem;
		letter-spacing: 0.3rem;
		transition-duration: all 0.3s;

		&:hover {
			color: #1bc7f1;
			box-shadow: 0px 0px 12px 3px #1bc7f1;
			translate: 0px 15px;
		}

		&:active {
			color: #35b397;
			box-shadow: 0px 0px 12px 3px #35b397;
		}
	}
}

.active {
	color: #1bc7f1;
	font-weight: bold;

	&:hover {
		color: #ffffff;
	}

	&:active {
		color: #35b397;
		box-shadow: 0px 0px 12px 3px #35b397;
	}
}



// !BURGER
.burger {
	cursor: pointer;
	position: relative;
	border: none;
	background: transparent;
	width: 60px;
	height: 26px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	top: 20px;
	display: none
}

.burger::before,
.burger::after {
	content: '';
	left: 0;
	position: absolute;
	display: block;
	width: 100%;
	height: 4px;
	border-radius: 10px;
	background: #ffffff;
	transition-duration: 0.3s;
}

.burger::before {
	top: 0;
	box-shadow: 0 11px 0 #ffffff;
	transition-duration: 0.3s;
}

.burger::after {
	bottom: 0;
}



// !TEXT
.header__info {
	display: flex;
	text-align: center;
	flex-direction: column;
	height: 60vh;
	justify-content: center;
	gap: 2rem;
	align-items: center;
}

.text {
	color: #ffffff;
	font-size: 1.2rem;
	letter-spacing: 0.3rem;
	transition-duration: 0.3s;
	font-weight: bold;

}

.header__info-link {
	text-decoration: none;
}

.header__info-title {
	font-size: 3rem;
	color: #1bc7f1;
	transition-duration: 0.3s;
	display: flex;

	&:hover {
		box-shadow: 0px 14px 10px -6px #35b397;
		border-radius: 15px;
		cursor: pointer;
		filter: hue-rotate(45deg);
	}
}

.animationGlitchTitle {
	animation: text-flicker-in-glow 4s 2s linear both;
}

.header__info-subtitle {
	font-size: 1rem;
	text-shadow: 0px 0px 3px #35b397;
}

.header__info-span {
	text-shadow: 0px 0px 3px #35b397;
}



// !TEXT ANIMATION
.header__info h1 {
	margin: 0;
	font-size: 3rem;
	color: #ffffff03;
	background-image: url('/img/main/animation.png');
	background-repeat: repeat;
	-webkit-background-clip: text;
	animation: animationGlitchTitle 15s ease-in-out infinite;
	font-weight: 900;
}



// !BTN
.header__button {
	display: flex;
	justify-content: center;
}

.animationBtn {
	animation: bounce-top 1.5s both;
}



// !OLD BTN
// .btn {
// 	padding: 1rem 3.5rem;
// 	text-decoration: none;
// 	color: #ffffff;
// 	border: 1px solid #ffffff;
// 	border-radius: 55px;
// 	transition-duration: 0.3s;

// 	&:hover {
// 		color: #1bc7f1;
// 		border-color: #1bc7f1;
// 		transform: scale(1.2);
// 	}
// }

.btn-flip {
	opacity: 1;
	outline: 0;
	color: #35b397;
	line-height: 40px;
	position: relative;
	text-align: center;
	letter-spacing: 1px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;

	&:hover {

		&:after {
			opacity: 1;
			transform: translateY(0) rotateX(0);
		}

		&:before {
			opacity: 0;
			transform: translateY(50%) rotateX(90deg);
		}
	}

	&:after {
		top: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		color: #1bc7f1;
		display: block;
		transition: 0.5s;
		position: absolute;
		background: transparent;
		content: 'LETS GO';
		transform: translateY(-50%) rotateX(90deg);
		border-radius: 25px;
		border: 3px solid #1bc7f1;
		box-shadow: 0px 0px 7px 3px #1bc7f1;

	}

	&:before {
		top: 0;
		left: 0;
		opacity: 1;
		color: #35b397;
		display: block;
		padding: 0px 30px;
		line-height: 40px;
		transition: 0.5s;
		position: relative;
		background: transparent;
		content: 'HELLO ME FRIEND';
		transform: translateY(0) rotateX(0);
		border: 3px solid #35b397;
		border-radius: 25px;

	}
}



// !MEDIA
@media (max-width: 784px) {
	.burger {
		display: flex;
		margin-bottom: 60px;

	}

	.header__menu {
		display: none;
	}

	.burger:hover .header__menu {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.header__menu {
		.header__menu-link {
			&:hover {
				color: #1bc7f1;
				box-shadow: 0px 0px 12px 3px #1bc7f1;
				translate: 0px 0px;
				transform: scale(1.1);
			}
		}
	}

	.burger:hover::before,
	.burger:hover::after {
		background: #1bc7f1;
		transition-duration: 0.3s;

	}

	.burger:hover::before {
		box-shadow: 0 11px 0 #1bc7f1;
		transition-duration: 0.3s;

	}
}

@media (max-width: 567px) {
	.header {
		height: 100vh;
	}

	.header__info {
		height: 25vh;
	}

	.header__info h1 {
		font-size: 1.4rem;
	}

	.text {
		font-size: 0.8rem;
	}

	.burger {
		margin-bottom: 280px;
	}
}