.bg-hobby {
	width: 100%;
	min-height: 600px;
	// background-color: #000000;
	margin-top: 180px;
	box-shadow: 0px 0px 20px 120px rgba(0, 0, 0);
	// margin-bottom: 50px;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
}

.hobby {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.hobby-title {
	font-size: 3rem;
	letter-spacing: 0.3rem;
	font-weight: bold;
	color: #ffffff03;
	background-image: url('/img/main/animation.png');
	background-repeat: repeat;
	-webkit-background-clip: text;
	animation: animateText 50s ease-in-out infinite;
	transition-duration: 0.3s;
	margin-bottom: 10px;
	box-shadow: 0px 7px 10px -6px #35b397;
	border-radius: 15px;
	display: inline-block;
	cursor: pointer;

	&:hover {
		filter: hue-rotate(45deg);
	}
}



// !HOBBY-INFO
.hobby__info {
	color: #ffffff;
	text-shadow: 0px 0px 5px #35b397;
	margin-left: 1rem;
}

.hobby__info-title {
	font-size: 1.5rem;
	margin-bottom: 1rem;

}

.hobby__info-subtitle {
	font-size: 1rem;
	border-bottom: 1px solid #35b397;
	border-radius: 5px;

}



// !SWIPER
.swiper-box {
	display: flex;
	align-items: center;
}

.sliderTwo {
	display: flex;
	max-width: 800px;
	width: 70%;
	height: 40vh;
	margin-top: 3rem;
	box-shadow: 0px 0px 0px 0px #35b397 inset;
}

.swiper-slide {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;

	img {
		max-width: 80%;
		max-height: 80%;
		border-radius: 50px;
		position: relative;
	}

}

.swiper-button-prev {
	color: #35b397;

	&:hover {
		transform: scale(1.1);
		color: #1bc7f1;
	}
}

.swiper-button-next {
	color: #35b397;
	font-size: 1rem;

	&:hover {
		transform: scale(1.1);
		color: #1bc7f1;
	}
}

.swiper-button-next:after,
.swiper-button-prev:after {
	font-size: 2rem;
}

.swiper-pagination-bullet {
	background-color: #35b397;
}

.swiper-pagination-bullet-active {
	background-color: #1bc7f1;
}

// !MEDIA
@media (max-width: 750px) {
	.swiper-box {
		flex-direction: column;
	}

	.sliderTwo {
		margin-top: 0px;
		width: 100%;
	}
}

@media (max-width: 567px) {

	.bg-hobby {
		box-shadow: 0px 0px 20px 40px rgb(0, 0, 0);
		margin-top: 95px;
	}

	.sliderTwo {
		width: 100%;
		height: 30vh;
	}

	.swiper-button-next {
		display: none;
	}

	.swiper-button-prev {
		display: none;
	}

}

@media (max-width: 400px) {
	.hobby-title {
		font-size: 2.2rem;
	}

	.sliderTwo {
		width: 100%;
		height: 20vh;
	}

	.hobby__info-title {
		margin-top: 60px;
		font-size: 1.2rem;
	}

	.hobby__info {
		margin-left: 0px;
	}

	.hobby__info-subtitle {
		font-size: 0.9rem;
	}
}