.menu__toggle {
	position: absolute;
	top: 600px;
	right: 5px;
	width: 80px;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	// cursor: grab;
	position: fixed;
	z-index: 101;

}

.menu__toggle .menu__toggle-content {
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(-45deg);
}

.menu__toggle-content .toggle-btn,
.menu__toggle-content span a {
	height: 52px;
	width: 52px;
	background-color: #000000;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: all 0.3s;

	&:hover {
		box-shadow: 0px 0px 5px 1px #1bc7f1;
		transform: scale(1.1);
	}

}

.menu__toggle-content .toggle-btn {
	font-size: 35px;
	color: #1bc7f1;
	z-index: 100;
	cursor: pointer;
	transform: rotate(-225deg);
	transition: all 0.6s ease;
}

.menu__toggle.open .toggle-btn {
	transform: rotate(0deg);
}

.menu__toggle-content span {
	position: absolute;
	transition: all 0.6s ease;
	opacity: 0;
}

.menu__toggle.open .menu__toggle-content span {
	transform: rotate(calc(var(--i) * (360deg/8))) translateY(120px);
	opacity: 1;
}

.menu__toggle-content span a {
	text-decoration: none;
	transform: rotate(45deg);
}

.menu__toggle-content span a i {
	font-size: 35px;
	color: #1bc7f1;
	transform: rotate(calc(var(--i) * (360deg/ -8)));
	opacity: 0.8;
	transition: 0.2s;
}

.menu__toggle-content span a:hover i {
	opacity: 1;
	color: #1bc7f1;
}