@import './animation/anim-proect';


.bg-project {
	width: 100%;
	min-height: 600px;
	// background-color: #000000;
	margin-top: 180px;
	box-shadow: 0px 0px 20px 120px rgba(0, 0, 0);
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	border-radius: 50px;
	padding: 0.5rem;
}

.project {
	text-align: center;
	padding-top: 30px;
}

.project-title {
	font-size: 3rem;
	letter-spacing: 0.3rem;
	font-weight: bold;
	color: #ffffff03;
	background-image: url('/img/main/animation.png');
	background-repeat: repeat;
	-webkit-background-clip: text;
	animation: animateText 50s ease-in-out infinite;
	transition-duration: 0.3s;
	margin-bottom: 40px;
	box-shadow: 0px 7px 10px -6px #35b397;
	border-radius: 15px;
	display: inline-block;
	cursor: pointer;

	&:hover {
		filter: hue-rotate(45deg);
		animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	}
}



// !CARD
.project__cards {
	display: flex;
	gap: 20px;

	.display {
		display: contents;
	}
}

.card__info {
	width: 30%;
	position: absolute;
	right: 20px;
	top: 50px;
	padding: 0.4rem;
	margin-right: 23px;
}

.card__info-description {
	color: white;
	text-align: center;
	margin-bottom: 5px;
}

.card__info-text {
	margin-top: 10px;
	color: #35b397;
	border-bottom: 1px solid #35b397;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 2px #35b397;
	padding: 0.3rem;
}

.card__info-block {
	display: flex;
	justify-content: center;
}

.card__info-list {
	color: #35b397;
	margin-top: 10px;
	margin-left: 20px;

	li {
		margin-top: 5px;
	}
}

.card {
	position: relative;
	height: 320px;
	width: 700px;
	transition: ease all 1.5s;
	perspective: 1200px;
	cursor: pointer;

	&:hover {
		.cover {
			transform: rotateX(0deg) rotateY(-180deg);
		}
	}

	.cover {
		position: absolute;
		height: 100%;
		width: 60%;
		transform-style: preserve-3d;
		transition: ease all 1.5s;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		border-radius: 25px;
		border: 1px solid #35b397;
		box-shadow: 0px 0px 15px 10px #35b397 inset;

		&:before {
			content: '';
			position: absolute;
			border: 5px solid #35b397;
			box-shadow: 0 0 12px #35b397;
			top: 20px;
			left: 20px;
			right: 20px;
			bottom: 20px;
			z-index: 2;
			border-radius: 25px;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			z-index: 2;
			transition: ease all 1.3s;
			background: rgba(0, 0, 0, .4);
			border-radius: 25px
		}

		&.item-a {
			background-image: url('/img/content/project/one.png');
			background-position: center center;
		}

		&.item-b {
			background-image: url('/img/content/project/two.png');
			background-position: center center;
		}

		&.item-c {
			background-image: url('/img/content/project/three.png');
			background-position: center center;
		}

		&.item-d {
			background-image: url('/img/content/project/fo.png');
			background-position: center center;
		}

		h6 {
			font-weight: bold;
			position: absolute;
			bottom: 10%;
			left: 50%;
			color: #1bc7f1;
			z-index: 3;
			font-size: 1.1rem;
			transform: translate(-50%, -5%);
		}

		.price {
			font-weight: bold;
			position: absolute;
			top: 35px;
			right: 35px;
			z-index: 4;
			font-size: 1rem;
			color: #1bc7f1;
		}
	}

	.card-back {
		position: absolute;
		height: 100%;
		width: 100%;
		background: url('/img/main/logo.jpeg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		transition: ease all 1.5s;
		transform: translateZ(-1px);
		display: flex;
		border: 1px solid #35b397;
		box-shadow: 0px 0px 25px 15px #35b397 inset;
		align-items: center;
		justify-content: center;
		border-radius: 25px;

		&:hover {
			border: 1px solid #1bc7f1;
			box-shadow: 0px 0px 25px 15px #1bc7f1 inset;
		}

		a {
			background: transparent;
			font-weight: 200;
			font-size: 1.3em;
			color: #35b397;
			padding: 1rem 2rem;
			outline: none;
			text-decoration: none;
			transition-duration: 1.5s;

			&:hover {
				border: 1px solid #1bc7f1;
				border-radius: 25px;
				color: #f80202;
				transform: translateZ(-1px) rotateY(-180deg);
			}
		}
	}
}



// !SWIPER PROJECT
.swiper {
	display: flex;
	max-width: 800px;
	width: 100%;
	height: 45vh;
	border-radius: 25px;
	box-shadow: 0px 0px 10px 5px #35b397 inset,

}

.swiper-wrapper {
	box-sizing: content-box;
}

.swiper-slide {
	display: flex;
	margin: 0 auto;
	justify-content: center;

	img {
		max-width: 100%;
	}
}

.swiper-backface-hidden .swiper-slide {
	display: flex;
	align-items: center;
	margin-left: 10px;
	margin-right: 10px;
}

.swiper-pagination-bullet {
	background-color: #35b397;
}

.swiper-pagination-bullet-active {
	background-color: #1bc7f1;
}



// !MEDIA
@media (max-width: 567px) {
	.bg-project {
		box-shadow: 0px 0px 20px 50px rgb(0, 0, 0);
		margin-top: 95px;
	}

	.swiper-backface-hidden .swiper-slide {
		margin-left: 0;
		margin-right: 0;
	}

	.card__info {
		width: 90%;
		left: 50%;
		top: 15%;
		transform: translate(-50%, -50%);
		margin-right: 0px;
	}

	.swiper-slide .project__cards .swiper-slide-active {
		margin-right: 0px;
	}

	.card__info-list {
		text-align: center;
		margin-left: 0;
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.card__info-list li {
		list-style-type: none;
		border-bottom: 1px solid #35b397;
		border-radius: 5px;
		box-shadow: 0px 0px 5px 2px #35b397;
		padding: 0.1rem;

	}

	.card .cover {
		height: 60%;
		width: 90%;
		bottom: -10px;
		right: 5%;
	}
}

@media (max-width: 490px) {

	.project-title {
		font-size: 2.2rem;
	}

	.card .cover h6 {
		font-size: 0.9rem;
		bottom: 15%;
	}

	.card .cover .price {
		font-size: 0.8rem;
	}

	.card .card-back a {
		padding: 1rem 0.5rem;
	}
}