// !файл full-screen - переменнная на изменение цвета кнопки

$color-btn: hsl(186 100% 69%);

// ! ОСНОВНЫЕ ЦВЕТА САЙТА

$color-green: #35b397;
$color-blue: #1bc7f1;
// !файл full-screen - переменнная на изменение цвета кнопки

// !файл full-screen - переменнная на изменение цвета кнопки

// !файл full-screen - переменнная на изменение цвета кнопки

// !файл full-screen - переменнная на изменение цвета кнопки