@import 'header';
@import 'about';
@import 'skill';
@import 'proect';
@import 'hobby';
@import 'footer';
@import 'menu-toggle';
@import 'night-theme';
@import './animation/anim-main';


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-size: 16px;
	width: 100%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
	max-width: 1200px;
	padding: 0 1rem;
	margin: 0 auto;
}



// !BG
.main {
	background: url('/img/main/bg-main.jpg') fixed;
	background-size: cover;
	height: 100%;
	padding-top: 150px;
	animation: animationFloatingBg 25s ease-in-out infinite;
}

.inset {
	box-shadow: 0px 0px 17px 7px rgb(0, 0, 0) inset;
	flex-grow: 1;
	border-radius: 50px;
}



// !AUDIO-BTN
.audio-btn {
	background: url(/img/audio-icons/play.png) no-repeat;
	border: none;
	width: 50px;
	height: 50px;
	cursor: pointer;
	position: absolute;
	top: 92%;
	left: 2%;
	position: fixed;
	z-index: 50;
	filter: opacity(0.7);
	border: 1px solid #35b397;
	border-radius: 50%;
	box-shadow: 0px 0px 12px 5px #35b397;
	animation: myAnimPulse 1s ease 0s infinite normal forwards;
	opacity: 0.5;

	&:hover {
		box-shadow: 0px 0px 12px 5px #1bc7f1;
		animation: jello-horizontal 1.2s both;
		opacity: 1;

	}
}



// !HOME-BTN
.home-link {
	img {
		position: absolute;
		top: 92%;
		right: 2%;
		position: fixed;
		animation: myAnimPulse 1s ease 0s infinite normal forwards;
		border: 1px solid #35b397;
		border-radius: 50%;
		box-shadow: 0px 0px 12px 5px #35b397;
		opacity: 0.5;
		z-index: 50;

		&:hover {
			box-shadow: 0px 0px 12px 5px #1bc7f1;
			animation: jello-horizontal 1.2s both;
			opacity: 1;
		}
	}
}



// !Анимация нажатия кнопки
.bubbly-button {
	transition: all ease-in 0.1s, box-shadow ease-in 0.25s;

	&:active {
		transform: scale(0.9);
	}
}



// !MEDIA
@media (max-width: 567px) {
	.main {
		padding-top: 70px;
	}
}



// .header2 {
// 	width: 100%;
// 	height: 200px;
// 	background-color: red;
// 	position: relative;
// 	z-index: 1001;
// }

// .sticky {
// 	position: fixed;
// 	top: 0;
// 	width: 100%
// }

// .content {
// 	font-size: 50px;
// 	text-align: center;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// }

// .sticky+.content {
// 	padding-top: 402px;
// }