@import './sections/header';
@import './sections/about';
@import './sections/skill';
@import './sections/project';
@import './sections/hobby';
@import './sections/footer';
@import './other/all-button';
@import './other/night-theme';
@import './other/full-screen';
@import './other/burger-navigation';
@import './modal/modal';
@import './modal/modal-avatar';
@import './modal/modal-map';
@import './animation/anim-main';
@import 'vars';

// !Шрифты (2й шрифт для кнопки CLICK)
@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
}

html,
body {
	font-size: 16px;
	width: 100%;
	font-family: 'Tektur', sans-serif;
}

.container {
	max-width: 1200px;
	padding: 0 1rem;
	margin: 0 auto;
}

// !BG
.main {
	background: url('/img/main/bg-main.jpg') fixed;
	background-size: cover;
	height: 100%;
	padding-top: 150px;
	// движение BG
	animation: animationFloatingBg 25s ease-in-out infinite;
}

// !Внешние рамки
.inset {
	box-shadow: 0px 0px 17px 7px $color-black inset;
	flex-grow: 1;
	border-radius: 50px;
}

// !Для header что бы сдлеать его липким
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 21;
}

// !BG для липкого header
.bg-sticky {
	background-color: rgb(26 113 112 / 55%);
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

// !Для первоночальной страницы, display NONE
.none {
	display: none;
}

// !Для navbara задал бэкграуд черный что бы не было белого фона
.main-header {
	background: $color-black;
}

.box {
	color: white;
	display: none;
}



// !MEDIA
@media (max-width: 567px) {
	.main {
		padding-top: 70px;
	}
}