@import '../animation/anim-footer';
@import '../vars';


.bg-footer {
	width: 100%;
	min-height: 200px;
	background-color: $color-black;
	box-shadow: 0px 0px 20px 50px $color-black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	z-index: 1;
}

.contact {
	display: flex;
	gap: 30px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	flex-direction: column;


	img {
		transition-duration: 0.3s;
		border-radius: 50%;
		filter: opacity(0.5);

		&:hover {
			transform: scale(1.2);
			border-radius: 50%;
			box-shadow: 0px 0px 12px 5px $color-green;
			filter: opacity(1);
		}
	}
}

.footer-hr {
	height: 10px;
	position: relative;
	z-index: 20;
	margin: 160px 0px 35px 0px;
	border: 0;
	border-radius: 0;
}

.contact__box {
	display: flex;
	gap: 100px;
}

.reserved {
	font-size: 1.2rem;
	letter-spacing: 1px;
	font-weight: bold;
	color: #ffffff03;
	background-image: url('../img/main/animation.png');
	background-repeat: repeat;
	// Делает БГ текста прозрачным
	-webkit-background-clip: text;
	// БГ текста летает в виде картинки
	animation: animationFloatingBg 50s ease-in-out infinite;
	transition-duration: 0.3s;
	margin-bottom: 80px;
	box-shadow: 1px 1px 5px -1px $color-green;
	border-radius: 15px;
	display: inline-block;
	padding: 5px;

	&:hover {
		filter: hue-rotate(45deg);
	}
}

// Иконки сжимаются в footer
.social__box-anim {
	animation: jello-horizontal 1.2s 3s both;
}

// animationIcons for JS
.animationIcons-1 {
	animation: myAnimationFooterIcon-1 3s linear 0s 1 alternate none;
}

// animationIcons for JS
.animationIcons-2 {
	animation: myAnimationFooterIcon-2 3s linear 0s 1 alternate none;

}

// animationIcons for JS
.animationIcons-3 {
	animation: myAnimationFooterIcon-3 3s linear 0s 1 alternate none;
}



// !MEDIA
@media (max-width: 990px) {
	.contact__box {
		flex-direction: column;
		gap: 10px;
		margin-top: 15px;
	}

	.reserved {
		text-align: center;
	}
}