@import '../vars';

.bg-hobby {
	width: 100%;
	min-height: 600px;
	margin-top: 180px;
	box-shadow: 0px 0px 20px 120px $color-black;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
}

.hobby {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.hobby-title {
	background-color: #020404c2;
	border-radius: 20px;
	padding: 5px;
	display: inline-block;
}

.hobby-title span {
	font-size: 3rem;
	letter-spacing: 0.3rem;
	font-weight: bold;
	color: rgb(14 237 239 / 31%);
	background-image: url('../img/main/animation.png');
	background-repeat: repeat;
	// Делает БГ текста прозрачным
	-webkit-background-clip: text;
	// БГ текста летает в виде картинки
	animation: animationFloatingBg 50s ease-in-out infinite;
	transition-duration: 0.3s;
	box-shadow: 0px 7px 10px -6px $color-green;
	display: inline-block;
	border-radius: 15px;
	cursor: pointer;

	&:hover {
		filter: hue-rotate(45deg);
	}
}

// !HOBBY-INFO
.hobby__info {
	color: $color-white;
	text-shadow: 0px 0px 5px $color-green;
	margin-left: 1rem;
}

.hobby__info-title {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.hobby__info-subtitle {
	font-size: 1rem;
	// border-bottom: 1px solid $color-green;
	border-radius: 5px;
	background-color: #00000082;
	padding: 10px;
	border-radius: 20px;
	box-shadow: -3px -3px 3px 1px $color-green;
}

// !SWIPER HOBBY
.swiper-box {
	display: flex;
	align-items: center;
}

.sliderHobby {
	display: flex;
	max-width: 800px;
	width: 70%;
	height: 40vh;
	margin-top: 3rem;
	box-shadow: 0px 0px 0px 0px $color-green inset;
}

.swiper-slide {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;

	img {
		max-width: 80%;
		max-height: 80%;
		border-radius: 50px;
		position: relative;
		cursor: grab;
		transition-duration: 0.3s;

		&:hover {
			box-shadow: 0px 0px 10px 5px $color-green;
		}
	}

	img:active {
		cursor: grabbing;
	}
}

.swiper-button-prev {
	color: $color-green;

	&:hover {
		transform: scale(1.1);
		color: $color-blue;
	}
}

.swiper-button-next {
	color: $color-green;
	font-size: 1rem;

	&:hover {
		transform: scale(1.1);
		color: $color-blue;
	}
}

.swiper-button-next:after,
.swiper-button-prev:after {
	font-size: 2rem;
}

.swiper-pagination-bullet {
	background-color: $color-green;
}

.swiper-pagination-bullet-active {
	background-color: $color-blue;
}

// !MEDIA
@media (max-width: 750px) {
	.sliderHobby {
		width: 90%;
		margin-top: 0rem;
		height: 30vh;
	}

	.swiper-box {
		flex-direction: column;
	}
}

@media (max-width: 567px) {
	.bg-hobby {
		box-shadow: 0px 0px 20px 40px $color-black;
		margin-top: 95px;
	}

	.sliderHobby {
		width: 85%;
		height: 30vh;
	}

	.swiper-button-next {
		display: none;
	}

	.swiper-button-prev {
		display: none;
	}
}

@media (max-width: 400px) {
	.hobby-title span {
		font-size: 2.2rem;
	}

	.sliderHobby {
		width: 90%;
		height: 20vh;
	}

	.hobby__info-title {
		margin-top: 30px;
		font-size: 1.2rem;
	}

	.hobby__info {
		margin-left: 0px;
	}

	.hobby__info-subtitle {
		font-size: 0.9rem;
	}

	.info--bottom-ld img {
		width: 24px;
	}

	.info--bottom-ld span {
		letter-spacing: 0;
	}
}
