@import '../animation/anim-skill';
@import '../vars';

.bg-skills {
	width: 100%;
	min-height: 600px;
	margin-top: 180px;
	box-shadow: 0px 0px 20px 120px $color-black;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	border-radius: 50px;
	padding: 0.5rem;
	position: relative;
	z-index: 1;
}

// !TABS
.tabs {
	display: flex;
	flex-wrap: wrap;
	column-gap: 5rem;
	justify-content: center;
	padding-top: 60px;
	padding-bottom: 60px;
}

.warpper {
	display: flex;
	flex-direction: column;
	align-items: center;

	.tab {
		cursor: pointer;
		padding: 10px 10px;
		display: flex;
		color: $color-white;
		font-weight: bold;
		border-radius: 5px;
		box-shadow: 0px 0px 9px 0px $color-green;
		transition: all 0.5s ease-in;
		align-items: center;

		&:hover {
			background: $color-green;
			color: $color-black;
			// повяление полосы
			animation: shake-horizontal 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
		}
	}

	.panels {
		box-shadow: 0px 0px 12px 2px $color-green inset;
		width: 100%;
		border-radius: 10rem;
		overflow: hidden;
		padding: 2rem;
		color: $color-white;

		.panel {
			display: none;
			animation: fadein 0.8s;

			.panel-text {
				color: $color-black;
				font-size: 1rem;
				padding: 0.5rem;
				font-weight: bold;
				letter-spacing: 0.1rem;
			}
		}
	}
}

.radio {
	display: none;
}

#one:checked~.panels #one-panel,
#two:checked~.panels #two-panel,
#three:checked~.panels #three-panel {
	transition-duration: 0.3s;
	display: flex;
	border-radius: 25px;
}

#one:checked~.tabs #one-tab,
#two:checked~.tabs #two-tab,
#three:checked~.tabs #three-tab {
	transform: scale(1.2);
}

// !PANEL
.skill-bars-one {
	padding: 25px 25px;
	display: flex;
	flex-direction: column;
	width: 48%;
	gap: 15px;
	background-color: #00000082;
	border-top-left-radius: 80px;
	border-bottom-left-radius: 80px;
}

.two {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 80px;
	border-bottom-right-radius: 80px;
}

.info {
	margin-bottom: 5px;
}

.skill-bar-link {
	text-decoration: none;
	color: $color-white;
}

.bar {
	cursor: pointer;
	transition: all 0.3s;

	&:hover {
		filter: hue-rotate(45deg);
		color: $color-blue;
	}
}

.info span {
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	opacity: 0;
	// появление текста
	animation: showText 0.5s 1s linear forwards;
}

.progress-line {
	height: 20px;
	width: 100%;
	background: $color-black;
	position: relative;
	transform: scaleX(0);
	transform-origin: left;
	border-radius: 15px;
	cursor: pointer;
	transition-duration: 0.3s;
	// появление полос
	animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.animationPanel {
	// появление полос
	animation: animateSkill 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.progress-line span {
	height: 100%;
	position: absolute;
	border-radius: 10px;
	transform: scaleX(0);
	transform-origin: left;
	background: $color-green;
	// появление полос
	animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards
}

.progress-line span::before {
	position: absolute;
	content: "";
	top: -10px;
	right: 0;
	height: 0;
	width: 0;
	opacity: 0;
	border: 7px solid transparent;
	border-bottom-width: 0px;
	border-top-color: $color-black;
	// появление текста скиллов (цифры)
	animation: showText2 0.5s 1.5s linear forwards;
}

.progress-line span::after {
	position: absolute;
	top: -28px;
	right: 0;
	font-weight: 500;
	background: $color-blue;
	color: $color-black;
	opacity: 0;
	padding: 1px 8px;
	font-size: 12px;
	border-radius: 10px;
	// появление текста скиллов (цифры)
	animation: showText2 0.5s 1.5s linear forwards;
}

// !ONE BAR
.html span {
	width: 74%;
}

.css span {
	width: 82%;
}

.JavaScript span {
	width: 50%;
}

.react span {
	width: 25%;
}

.bootstrap span {
	width: 30%;
}

.wordpress span {
	width: 35%;
}

.html span::after {
	content: "74%";
}

.css span::after {
	content: "82%";
}

.JavaScript span::after {
	content: "50%";
}

.react span::after {
	content: "25%";
}

.bootstrap span::after {
	content: "30%";
}

.wordpress span::after {
	content: "35%";
}

// !TWO PANEL
.other_skill span::after {
	content: "50%";
}

.other_skill span {
	width: 50%;
}

// !THREE PANEL
.git span {
	width: 50%;
}

.npm span {
	width: 35%;
}

.webpack span {
	width: 25%;
}

.english span {
	width: 25%;
}

.swipers span {
	width: 30%;
}

.animation span {
	width: 44%;
}

.git span::after {
	content: "50%";
}

.npm span::after {
	content: "35%";
}

.webpack span::after {
	content: "25%";
}

.english span::after {
	content: "25%";
}

.swipers span::after {
	content: "48%";
}

.animation span::after {
	content: "44%";
}



// !MEDIA
@media (max-width: 750px) {
	.progress-line span::before {
		display: none;
	}

	.progress-line span::after {
		top: 2px;
	}
}

@media (max-width: 585px) {

	.tabs {
		column-gap: 2rem;
		flex-direction: column;
		row-gap: 1.5rem;
		padding-bottom: 20px;
		padding-top: 20px;
	}

	.warpper .tab {
		justify-content: center;
	}

	.warpper .panels {
		width: 95%;
		padding: 0;
		margin-bottom: 2rem;
		border-radius: 2rem;
	}

	.progress-line span::after {
		top: 2px;
	}

	.flex {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.skill-bars-one {
		width: 100%;
		padding: 10px 25px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	.two {
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}
}

@media (max-width: 567px) {
	.bg-skills {
		margin-top: 95px;
		box-shadow: 0px 0px 20px 40px $bg-text;
	}
}