// !.home-link img and .audio-btn - пульсирующая кнопка
// animation: myAnimPulse 1s ease 0s infinite normal forwards;

@keyframes myAnimPulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}