// !.header - приближение и отдаление bg 
// (animation: shrink 15s infinite alternate;)

@keyframes shrink {
	0% {
		background-size: 120% 120%;
	}

	100% {
		background-size: 100% 100%;
	}
}



// !.header__info-title - появление текста 
// (animation: text-flicker-in-glow 4s linear both;)

@-webkit-keyframes text-flicker-in-glow {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 0;
	}

	10.1% {
		opacity: 1;
	}

	10.2% {
		opacity: 0;
	}

	20% {
		opacity: 0;
	}

	20.1% {
		opacity: 1;
	}

	20.6% {
		opacity: 0;
	}

	30% {
		opacity: 0;
	}

	30.1% {
		opacity: 1;
	}

	30.5% {
		opacity: 1;
	}

	30.6% {
		opacity: 0;
	}

	45% {
		opacity: 0;
	}

	45.1% {
		opacity: 1;
	}

	50% {
		opacity: 1;
	}

	55% {
		opacity: 1;
	}

	55.1% {
		opacity: 0;
	}

	57% {
		opacity: 0;
	}

	57.1% {
		opacity: 1;
	}

	60% {
		opacity: 1;
	}

	60.1% {
		opacity: 0;
	}

	65% {
		opacity: 0;
	}

	65.1% {
		opacity: 1;
	}

	75% {
		opacity: 1;
	}

	75.1% {
		opacity: 0;
	}

	77% {
		opacity: 0;
	}

	77.1% {
		opacity: 1;

	}

	85% {
		opacity: 1;
	}

	85.1% {
		opacity: 0;
	}

	86% {
		opacity: 0;
	}

	86.1% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}
}

@keyframes text-flicker-in-glow {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 0;
	}

	10.1% {
		opacity: 1;
	}

	10.2% {
		opacity: 0;
	}

	20% {
		opacity: 0;
	}

	20.1% {
		opacity: 1;
	}

	20.6% {
		opacity: 0;
	}

	30% {
		opacity: 0;
	}

	30.1% {
		opacity: 1;
	}

	30.5% {
		opacity: 1;
	}

	30.6% {
		opacity: 0;
	}

	45% {
		opacity: 0;
	}

	45.1% {
		opacity: 1;
	}

	50% {
		opacity: 1;
	}

	55% {
		opacity: 1;
	}

	55.1% {
		opacity: 0;
	}

	57% {
		opacity: 0;
	}

	57.1% {
		opacity: 1;
	}

	60% {
		opacity: 1;
	}

	60.1% {
		opacity: 0;
	}

	65% {
		opacity: 0;
	}

	65.1% {
		opacity: 1;
	}

	75% {
		opacity: 1;
	}

	75.1% {
		opacity: 0;
	}

	77% {
		opacity: 0;
	}

	77.1% {
		opacity: 1;
	}

	85% {
		opacity: 1;
	}

	85.1% {
		opacity: 0;
	}

	86% {
		opacity: 0;
	}

	86.1% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}
}



// !.header__info h1 - задний фон h1, плавающий бэкграунд
// animation: animationFloatingBg 15s ease-in-out infinite;

@keyframes animationFloatingBg {

	0%,
	100% {
		background-position: left top;
	}

	25% {
		background-position: right bottom;
	}

	50% {
		background-position: left bottom;
	}

	75% {
		background-position: right top;
	}
}



// !.animationBtn - кнопка прыгает вверх вниз
// animation: bounce-top 1.5s both;

@-webkit-keyframes bounce-top {
	0% {
		-webkit-transform: translateY(-45px);
		transform: translateY(-45px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 1;
	}

	24% {
		opacity: 1;
	}

	40% {
		-webkit-transform: translateY(-24px);
		transform: translateY(-24px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	65% {
		-webkit-transform: translateY(-12px);
		transform: translateY(-12px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	82% {
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	93% {
		-webkit-transform: translateY(-4px);
		transform: translateY(-4px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	25%,
	55%,
	75%,
	87% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}

	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
	}
}

@keyframes bounce-top {
	0% {
		-webkit-transform: translateY(-45px);
		transform: translateY(-45px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 1;
	}

	24% {
		opacity: 1;
	}

	40% {
		-webkit-transform: translateY(-24px);
		transform: translateY(-24px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	65% {
		-webkit-transform: translateY(-12px);
		transform: translateY(-12px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	82% {
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	93% {
		-webkit-transform: translateY(-4px);
		transform: translateY(-4px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	25%,
	55%,
	75%,
	87% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}

	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
	}
}