// !.reverse - animation - задний фон h1, плавающий бэкграунд
// animation: animationFloatingBg 50s ease-in-out infinite;

// родитель находится в header



// !.social__box-anim - поворачиваются в разные стороны иконки
// animation: rotateIcon 3s ease-out 3s 1 normal both;

@keyframes rotateIcon {

	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}

	10% {
		transform: rotate(8deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-10deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(10deg);
	}

	80% {
		transform: rotate(-8deg);
	}

	90% {
		transform: rotate(8deg);
	}
}



// !.animationIcons - падают сверху вниз иконки
// animation: myAnimationFooterIcon-1(2,3) 3s linear 0s 1 alternate none;


// !ONE ANIMATION
@keyframes myAnimationFooterIcon-1 {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}

// !TWO ANIMATION
@keyframes myAnimationFooterIcon-2 {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	18% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	35% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	52% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	61% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	80% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	85% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}

// !THREE ANIMATION
@keyframes myAnimationFooterIcon-3 {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	28% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	45% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	62% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	71% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	80% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	83% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}