// !.about-title - появляется текст из невидимости
// animation: outHideTittle 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

@keyframes outHideTittle {
	0% {
		letter-spacing: 1em;
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}

	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}