// !.about-title - задний фон h1, плавающий бэкграунд
// animation: animateText 50s ease-in-out infinite;

// родитель находится в header



// !.about-title:hover - кубик-бизар, прыгает картинка и трясется
// animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

@-webkit-keyframes shake-bottom {

	0%,
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
	}

	10% {
		-webkit-transform: rotate(2deg);
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		-webkit-transform: rotate(-4deg);
		transform: rotate(-4deg);
	}

	30%,
	50%,
	70% {
		-webkit-transform: rotate(4deg);
		transform: rotate(4deg);
	}

	80% {
		-webkit-transform: rotate(-2deg);
		transform: rotate(-2deg);
	}

	90% {
		-webkit-transform: rotate(2deg);
		transform: rotate(2deg);
	}
}

@keyframes shake-bottom {

	0%,
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
	}

	10% {
		-webkit-transform: rotate(2deg);
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		-webkit-transform: rotate(-4deg);
		transform: rotate(-4deg);
	}

	30%,
	50%,
	70% {
		-webkit-transform: rotate(4deg);
		transform: rotate(4deg);
	}

	80% {
		-webkit-transform: rotate(-2deg);
		transform: rotate(-2deg);
	}

	90% {
		-webkit-transform: rotate(2deg);
		transform: rotate(2deg);
	}
}



// !.about__description-img:hover - картинка растягивает и сужается
// animation: jello-horizontal 1.2s both;

@-webkit-keyframes jello-horizontal {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		-webkit-transform: scale3d(0.95, 1.05, 1);
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		-webkit-transform: scale3d(1.05, 0.95, 1);
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes jello-horizontal {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		-webkit-transform: scale3d(0.95, 1.05, 1);
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		-webkit-transform: scale3d(1.05, 0.95, 1);
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}