// !.reverse - animation - задний фон h1, плавающий бэкграунд
// animation: animationFloatingBg 50s ease-in-out infinite;

// родитель находится в header

// !.social__box-anim - картинка растягивает и сужается
// animation: jello-horizontal 1.2s both;

@keyframes jello-horizontal {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		-webkit-transform: scale3d(0.95, 1.05, 1);
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		-webkit-transform: scale3d(1.05, 0.95, 1);
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

// !.animationIcons - падают сверху вниз иконки
// animation: myAnimationFooterIcon-1(2,3) 3s linear 0s 1 alternate none;

// !ONE ANIMATION
@keyframes myAnimationFooterIcon-1 {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}

// !TWO ANIMATION
@keyframes myAnimationFooterIcon-2 {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	18% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	35% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	52% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	61% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	80% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	85% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}

// !THREE ANIMATION
@keyframes myAnimationFooterIcon-3 {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	28% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	45% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	62% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	71% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	80% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	83% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}