@import '../vars';

*::-webkit-scrollbar {
	background-color: transparent;
	width: 12px;
}

*::-webkit-scrollbar-thumb {
	border-radius: 99px;
	background-color: $color-green;
	border: 3px solid $modal-color;
}

.modal {
	position: fixed;
	top: -20%;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba($modal-color, 0.25);
	z-index: 100;
}

.modal-container {
	max-height: 60vh;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	background-color: $color-green;
	border-radius: 16px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 12px 5px $color-green;
	// Показывает модальное окно
	animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

// !open modal window
@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.modal-container-header {
	padding: 16px 32px;
	border-bottom: 1px solid $modal-color;
	display: flex;
	justify-content: center;
	box-shadow: 0px 0px 10px 3px $modal-color inset;
}

.modal-container-title {
	display: flex;
	align-items: center;
	line-height: 1;
	font-weight: 700;
	font-size: 2rem;
}

.modal-container-body {
	padding: 24px 32px 51px;
	overflow-y: auto;

	h2 {
		font-size: 1.5rem;
		letter-spacing: 1px;
		padding-bottom: 5px;
	}

	ol {
		padding-bottom: 10px;
		list-style-type: circle;
	}

	p {
		font-size: 1rem;
		padding-bottom: 5px;
		letter-spacing: 1px;
	}

	li {
		font-size: 1rem;
		font-weight: bold;
		letter-spacing: 1px;
	}

	.hr-modal {
		height: 5px;
		box-shadow: 0px 0px 5px 1px $modal-color;
		background: $modal-color;
		border: 1px solid $modal-color;
		margin-bottom: 10px;
	}
}

.modal-container-footer {
	padding: 20px 32px;
	display: flex;
	justify-content: center;
	border-top: 1px solid $modal-color;
	box-shadow: 0px 0px 10px 3px $modal-color inset;
	position: relative;

	&:after {
		content: "";
		display: block;
		position: absolute;
		top: -51px;
		left: 24px;
		right: 24px;
		height: 50px;
		flex-shrink: 0;
		background-image: linear-gradient(to top, rgba($modal-color, 0.75), transparent);
		pointer-events: none;
	}
}

.button {
	padding: 12px 20px;
	border-radius: 8px;
	background-color: transparent;
	font-weight: bold;
	border: 0;
	cursor: pointer;
}

.btn-close {
	color: $modal-color;
	box-shadow: 0px 0px 5px 1px $modal-color;
	transition: all 0.3s;

	&:hover {
		color: $modal-color;
		background-color: $color-blue;
		box-shadow: 0px 0px 5px 1px $color-blue, 0px 0px 5px 1px $modal-color inset;
		transform: scale(1.2);
	}
}


.animation-modal-window {
	// Скрывает модальное окно
	animation: fade-out 0.7s ease-out both;
}

// !close modal window
@keyframes fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}




// !NEDIA
@media (max-width: 600px) {
	.modal-container {
		width: 90%;
	}
}