@import '../vars';

// !ICON BURGER
.burger-icon {
	position: fixed;
	top: 2%;
	right: 2%;
	text-align: center;
	width: 50px;
	height: 50px;
	line-height: 200%;
	border-radius: 50%;
	cursor: pointer;
	transition: all 1s ease-in;
	background-color: transparent;
	z-index: 20;
	display: none;

	&.change-backGround {
		background-color: transparent
	}

	i {
		color: #043b36;
		font-size: 2rem;
		line-height: 50px;
		padding: 0px 10px;
		transition: all 0.3s ease-in;
		box-shadow: 0px 0px 5px 1px #043b36;
		border-radius: 15px;

		&:hover {
			box-shadow: 0px 0px 5px 1px $color-blue;
			color: $color-blue;
			transform: scale(1.2);
			border-radius: 15px;
		}

		&::before {
			transition: all 0.3s ease-in;
		}

		&.clicked::before {
			content: '\f00d';
			color: #043b36;
			transition: all 0.3s ease-in;
		}
	}
}

#main {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	position: fixed;
}

.index-menu {
	z-index: 19;
}

#navbar {
	position: relative;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	transform: translateY(-100%);
	transition: 1s ease;
	background-color: rgba(0, 0, 0, 0.582);
	box-shadow: 0px 0px 20px 10px $color-green inset;


	ul#links {
		list-style: none;

		li {
			padding: 5px;
			margin: 15px 0 0;
			text-align: center;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				bottom: -5%;
				left: -5%;
				width: 10px;
				height: 10px;
				border: 3px solid $color-green;
				border-top: none;
				border-right: none;
				transition: all 0.4s ease-in;
			}

			&:hover::before {
				width: 100%;
				height: 0;
				left: 0;
				border-color: $color-blue;
			}

			&::after {
				content: '';
				position: absolute;
				top: -5%;
				right: -5%;
				width: 10px;
				height: 10px;
				border: 3px solid $color-green;
				border-bottom: none;
				border-left: none;
				transition: all 0.4s ease-in;
			}

			&:hover::after {
				width: 100%;
				height: 0;
				right: 0;
				border-color: $color-blue;
			}

			a {
				text-decoration: none;
				color: $color-green;
				font-weight: bold;
				font-size: 1.5em;
				text-transform: uppercase;
				height: 100%;
				width: 100%;

				&:hover {
					color: $color-blue;
				}

			}

			.active-home {
				color: $color-blue;
			}
		}
	}
}


// !MEDIA
@media (max-width: 785px) {
	.burger-icon {
		display: block;
	}
}